.box {
  width: 100%;
  display: block;
  /* text-align: center; */
  /* background-color: rgba(208,216,211,255); */
  border-radius: 20px;
  font-family: Ubuntu, serif;
  color: black;

}

.main-panel {
  border: solid rgba(207, 214, 208, 255);
  border-width: 2px;
  background-color: rgb(181, 188, 185);
}

.primary-btn {
  background-color: #70d692;
  padding: 0.6rem 2.5rem;
}
.btn-lg{
  padding: 0.8rem 3rem;
}